
/****************************
 ****** Text Overrides *****
 ***************************/

.is-muted {
  color: $grey-light !important;
}
a.is-muted:hover {
  color: $grey !important;
}


/****************************
 ****** Nav Overrides *****
 ***************************/

.navbar {
  height: 4.5rem;
}

.navbar-item {
  line-height: 1.9;
}

.navbar-item img {
  max-height: 2.8rem;
}



